/* Write your CSS code here */
.title {
  color: #12022f;
  font-size: 18px;
}
.description {
  color: #9aa5b1;
}
.publishedDate {
  color: #9aa5b1;
}
.flex-row {
  display: flex;
  justify-content: space-between;
}
